asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
dj-database-url==2.3.0
Django==5.1.2
djangorestframework==3.15.2
googlemaps==4.10.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
redis==5.2.0
requests==2.32.3
spotipy==2.24.0
sqlparse==0.5.2
typing_extensions==4.12.2
urllib3==2.2.3
